

@font-face {
  font-family: "Roboto";
  src: url(/src/assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: "Roboto-Italic";
  src: url(/src/assets/fonts/Roboto-Italic.ttf);
}
:root {
  --clr-pri: #2CDEDB;
  --clr-pri-1: #2CA9DE;
  --clr-pri-2: #2C71DE;
  --clr-sec: #2CDE62;
  --clr-sec-1: #2cde73;
  --clr-sec-2: #2CDE3D;
  --clr-black: #000;
  --clr-white: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-principal: white;
    --clr-secundario: white;
  }
}
* {
  font-family: "Roboto";
  box-sizing: border-box;
  color: var(--clr-white);
}

body {
  background-color: #222222;
}
