@use "mixins" as *;
@use "variables" as *;

.auth{
    background-color: red;
    padding: 1rem .5rem;
    min-height: 100svh;
    max-height: 100lvh;
    @include flex(column, space-between, auto, 0);

    h2{
        text-align: center
    }
    hr{
        width: 100%;
    }
}

.auth__form{
    @include flex(column);
    border: solid 2px var(--clr-black);
    border-radius: 1rem;
    padding: 1rem 1rem;

    h2{
        margin: 0;
        margin-bottom: 1rem;
    }
    p{
        margin: .5rem
    }

    .auth__inputs{
        @include flex(column, cener, center, 0);
        width: 100%;    
        
        input{
            margin: .5rem 0;
            width: 100%;    
        }
    }
    .auth__buttons{
        @include flex(column, center, center, 1rem);
    }
}