*{
    font-family: "Roboto";
    box-sizing: border-box;
    color: var(--clr-white);
    // color: red;  
}
body{
//     margin: 0;
//     text-align: center;
    background-color: #222222;
}
// .page{
//     min-height: 100svh;
    
// }
// h1{
//     font-size: 2.5rem;
//     text-align: center;
// }
